# --- BACKEND MICROSERVICE URLS ---
# Port 5001 - Identity Provider (User Service)
VITE_USER_SERVICE_URL=http://127.0.0.1:5001

# Port 5002 - Integration Layer (ApiKey Service)
VITE_APIKEY_SERVICE_URL=http://127.0.0.1:5002
